<% provide(:title, 'Home') %>

<p>
	Julie Moloney Designs resides in University City, Missouri. 
	Her style is a collection influenced by the eclectic culture in her University City neighborhood in St. Louis. 
	She has been designing and creating unique jewelry for over 30 years.
</p>

<p>
	Raw materials, such as pearls, leather, vintage metal and natural minerals, are used in all of these bohemian pieces. 
	The raw beauty found in nature is what inspires Julie to choose her materials. 
	It is a mix of these rustic materials that make a lasting statement.
</p>

<p>
	Julie Moloney Designs are sold in fashion boutiques stretching from Seattle to Miami Beach.
</p>

<p>
	Mixing her pieces with anything from a comfy tee to a elegant dress, the organic design of her creations pair well in all fashion settings.
</p>

<p>
	Shop around! If you are interested in custom work please contact Julie. 
	She has produced pieces for weddings, photo shoots, and many other special occasions and events. 
	She will be happy to collaborate with you in the creative process to create the perfect piece.
</p>

<p>
	Follow us on Instagram at <%= link_to "@JulieMoloneyDesigns", "https://instagram.com/juliemoloneydesigns/" %>!
</p>

<p>
	Check out our beautiful designer jewelry at <%= link_to "JulieMoloneyDesigns", "https://www.etsy.com/shop/JulieMoloneyDesigns" %> on Etsy!
</p>





