<footer class="footer">
  <small>
    Website by Chip Moloney
  </small>
  <nav>
    <ul>
      <li><%= link_to "Etsy Store", "https://www.etsy.com/shop/JulieMoloneyDesigns" %></li>
      <li><%= link_to "Instagram", "https://instagram.com/juliemoloneydesigns/" %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>